
<section>
    <div class="ui two statistics">
        <div class="blue statistic">
            <div class="value">
                {{totalUserInvoiceCollections}}
            </div>
            <div class="label">
                Your Total Invoice Collections
            </div>
        </div>
        <div class="green statistic">
            <div class="value">
                {{totalUserInvoices}}
            </div>
            <div class="label">
                Your Total Invoices
            </div>
        </div>
    </div>
</section>
<section>
    <div class="ui three statistics">
        <div class="red statistic">
            <div class="value">
                {{averagePerUserCat}}
            </div>
            <div class="label">
                Average Invoices per Category
            </div>
        </div>
        <div class="purple statistic">
            <div class="value">
                {{mostUserInvoices}}
            </div>
            <div class="label">
                Number of invoices in largest collection
            </div>
        </div>
        <div class="yellow statistic">
            <div class="value">
                {{leastUserInvoices}}
            </div>
            <div class="label">
                Number of invoices in smallest collection
            </div>
        </div>
    </div>
    </p>
</section>