<section class="ui raised segment">
    <p>So a little about us:<br>We Currently have...
</section>
<section>
    <div class="ui two statistics">
        <div class="blue statistic">
            <div class="value">
                {{totalCollections}}
            </div>
            <div class="label">
                Total Invoice Collections
            </div>
        </div>
        <div class="green statistic">
            <div class="value">
                {{totalInvoices}}
            </div>
            <div class="label">
                Total Invoices
            </div>
        </div>
    </div>
</section>
<section>
    <div class="ui three statistics">
        <div class="red statistic">
            <div class="value">
                {{averagePerTotalCat}}
            </div>
            <div class="label">
                Average Invoices per Category
            </div>
        </div>
        <div class="purple statistic">
            <div class="value">
                {{mostTotalInvoices}}
            </div>
            <div class="label">
                Number of invoices in largest collection
            </div>
        </div>
        <div class="yellow statistic">
            <div class="value">
                {{leastTotalInvoices}}
            </div>
            <div class="label">
                Number of invoices in smallest collection
            </div>
        </div>
    </div>
</p>
</section>