<form>
<table class="ui sortable inverted celled table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Invoice Number</th>
            <th>Net Amount</th>
            <th>VAT Amount</th>
            <th>VAT Rate</th>
            <th>Total Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{updateInvoicePage.index.invoice}}
        <tr>
            <td>{{date}}</td>
            <td>{{invoiceNumber}}</td>
            <td>{{updateInvoicePage.invoice.netAmount}}</td>
            <td>{{invoice.vatAmount}}</td>
            <td>{{vatRate}}</td>
            <td>{{totalAmount}}</td>
            <td>
                <a href="/invoiceCollection/{{../invoiceCollection.id}}/deleteInvoice/{{id}}"> <i
                        class=" red trash icon"></i></a>
            </td>
        </tr>
       </tbody>
</table>
</form>

<form>
<table class="ui sortable inverted celled table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Invoice Number</th>
            <th>Net Amount</th>
            <th>VAT Amount</th>
            <th>VAT Rate</th>
            <th>Total Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{updateInvoicePage.invoice}}
        <tr>
            <td>{{date}}</td>
            <td>{{invoiceNumber}}</td>
            <td>{{netAmount}}</td>
            <td>{{vatAmount}}</td>
            <td>{{vatRate}}</td>
            <td>{{totalAmount}}</td>
            <td>
                <a href="/invoiceCollection/{{../invoiceCollection.id}}/deleteInvoice/{{id}}"> <i
                        class=" red trash icon"></i></a>
            </td>
        </tr>
    </tbody>
    </table>
</form>

<table class="ui sortable inverted celled table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Invoice Number</th>
            <th>Net Amount</th>
            <th>VAT Amount</th>
            <th>VAT Rate</th>
            <th>Total Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{updateInvoicePage.index.invoice}}
        <tr>
            <td>{{date}}</td>
            <td>{{invoiceNumber}}</td>
            <td>{{netAmount}}</td>
            <td>{{vatAmount}}</td>
            <td>{{vatRate}}</td>
            <td>{{totalAmount}}</td>
            <td>
                <a href="/invoiceCollection/{{../invoiceCollection.id}}/deleteInvoice/{{id}}"> <i
                        class=" red trash icon"></i></a>
            </td>
        </tr>
    </tbody>
</table>


<table class="ui sortable inverted celled table">
    <form>
        <thead>
        <tr>
            <th>Date</th>
            <th>Invoice Number</th>
            <th>Net Amount</th>
            <th>VAT Amount</th>
            <th>VAT Rate</th>
            <th>Total Amount</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{updateInvoicePage.invoice}}
        <tr>
            <td>{{date}}</td>
            <td>{{invoiceNumber}}</td>
            <td>{{netAmount}}</td>
            <td>{{vatAmount}}</td>
            <td>{{vatRate}}</td>
            <td>{{totalAmount}}</td>
            <td>
                <a href="/invoiceCollection/{{../invoiceCollection.id}}/deleteInvoice/{{id}}"> <i
                        class=" red trash icon"></i></a>
            </td>
        </tr>
    </tbody>
    </form>
</table>


<form class="ui form" action="/updateInvoicePage/{{../invoiceCollection.id}}/updateInvoice/{{id}}" method="POST" enctype=multipart/form-data>
<section class=" ui stacked raised segment form">
        <div class="four fields">
            <div class="field">
                <label>Date</label>
                <input placeholder="Date" type="text" name="date" autofocus required>
            </div>
            <div class="field">
                <label>Invoice Number</label>
                <input placeholder="Invoice #" type="text" name="invoiceNumber" required>
            </div>
            <div class="field">
                <label>Net Amount</label>
                <input placeholder="Net" type="text" name="netAmount" required>
            </div>
            <div class="field">
                <label>VAT Rate</label>
                <input placeholder="Vat Rate in %" type="text" name="vatRate" required>
            </div>
        </div>
        <section>
            <div class="ui stacked segment form field">
                <label>File</label>
                <input type="file" name="picture">
            </div>
            <div class="field">
                <label>File Title</label>
                <input placeholder="Title" type="text" name="title">
            </div>
            <button><i class="large paper plane icon"></i></button>
        </section>
</section>
</form>